@model IEnumerable<Logistica.Models.Pedido>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apelido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeEmpresaDestinataria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaisDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CidadeDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RuaDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodigoPostalDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumPortaDestino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ContactoDestinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailDestinatario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Peso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comprimento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Largura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Altura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataEntregaPretendida)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Apelido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomeEmpresaDestinataria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaisDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CidadeDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RuaDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodigoPostalDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumPortaDestino)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ContactoDestinatario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailDestinatario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Peso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comprimento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Largura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Altura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataEntregaPretendida)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
