@model Logistica.Models.Cotacao

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cotacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pedido.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pedido.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Transportadora.NomeTransportadora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Transportadora.NomeTransportadora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valorCotacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valorCotacao)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
