@model IEnumerable<Logistica.Models.Cotacao>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pedido.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transportadora.NomeTransportadora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valorCotacao)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pedido.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transportadora.NomeTransportadora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valorCotacao)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
