@model Logistica.Models.Cotacoes

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
	<h4>Cotacao</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.ID)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Pedidofk)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Transportadorafk)
	<div class="form-group">
		@Html.Label("Cotação", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.valorCotacao, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.valorCotacao, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>
</div>
}

<div>
    @Html.ActionLink("Voltar para a listagem", "EmEspera")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
