@model Logistica.Models.Pedidos

@{
	ViewBag.Title = "Encomenda";
}

<h2>Encomenda</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
<div class="form-horizontal">
	<h4>Cotacao</h4>
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.ID)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Nome)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Apelido)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.NomeEmpresaDestinataria)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.PaisDestino)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.CidadeDestino)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.RuaDestino)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.CodigoPostalDestino)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.NumPortaDestino)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.ContactoDestinatario)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.EmailDestinatario)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Peso)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Comprimento)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Largura)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Altura)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.DataEntregaPretendida)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Transportadora)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Transportadorafk)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Utilizador)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Utilizadorfk)
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.Preco)


	<hr />
	<div class="form-group">
		@Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.DropDownListFor(model => model.Estado, new List<SelectListItem>
			{
			   new SelectListItem{ Text="Em processamento pela transportadora", Value = "2" },
			   new SelectListItem{ Text="Em transito", Value = "3" },
			   new SelectListItem{ Text="Entregue", Value = "4" },
			   new SelectListItem{ Text="Por favor contacte a transportadora", Value = "5" }
			})
			@Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-default" />
		</div>
	</div>
</div>
}

<div>
	@Html.ActionLink("Back to List", "Encomendas")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}

