@model Logistica.Models.Transportadora

@{
	ViewBag.Title = "Index";
}

<h2>Adicionar transportadora</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

<div class="form-horizontal">
	<h4>Pedido</h4>
	<hr />
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<div class="form-group">
		@Html.Label("Nome", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.ID, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.Label("Apelido", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.NomeTransportadora, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.NomeTransportadora, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.Label("Empresa", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Pais, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Pais, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.Label("País", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Cidade, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Cidade, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.Label("Cidade", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.CodigoPostal, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.CodigoPostal, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.Label("Rua", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.NumPorta, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.NumPorta, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.Label("Código Postal", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.NIF, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.NIF, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.Label("Nº da Porta", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Contacto, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Contacto, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.Label("Contacto", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
		</div>
	</div>

	<div class="form-group">
		@Html.Label("Contacto", htmlAttributes: new { @class = "control-label col-md-2" })
		<div class="col-md-10">
			@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
			@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
		</div>
	</div>


	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Criar pedido" class="btn btn-default" />
		</div>
	</div>
</div>
}

<div>
	@Html.ActionLink("Transportadoras", "Index")
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
