@model Logistica.Models.Utilizadores

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Utilizadores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt nowrap="">
            @Html.DisplayName("Nome")
        </dt>

        <dd nowrap="">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt nowrap="">
            @Html.DisplayName("Apelido")
        </dt>

        <dd nowrap="">
            @Html.DisplayFor(model => model.Apelido)
        </dd>

        <dt nowrap="">
            @Html.DisplayName("Fotografia")
        </dt>

        <dd nowrap="">
            @Html.DisplayFor(model => model.Fotografia)
        </dd>

        <dt nowrap="">
            @Html.DisplayName("Empresa")
        </dt>

        <dd nowrap="">
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>

        <dt nowrap="">
            @Html.DisplayName("País")
        </dt>

        <dd nowrap="">
            @Html.DisplayFor(model => model.Pais)
        </dd>

        <dt nowrap="">
            @Html.DisplayName("Cidade")
        </dt>

        <dd nowrap="">
            @Html.DisplayFor(model => model.Cidade)
        </dd>

        <dt nowrap="">
            @Html.DisplayName("Rua")
        </dt>

        <dd nowrap="">
            @Html.DisplayFor(model => model.Rua)
        </dd>

        <dt nowrap="">
            @Html.DisplayName("Código Postal")
        </dt>

        <dd nowrap="">
            @Html.DisplayFor(model => model.CodigoPostal)
        </dd>

        <dt nowrap="">
            @Html.DisplayName("Nº da Porta")
        </dt>

        <dd nowrap="">
            @Html.DisplayFor(model => model.NumPorta)
        </dd>

        <dt nowrap="">
            @Html.DisplayName("NIF")
        </dt>

        <dd nowrap="">
            @Html.DisplayFor(model => model.NIF)
        </dd>

        <dt nowrap="">
            @Html.DisplayName("Contacto")
        </dt>

        <dd nowrap="">
            @Html.DisplayFor(model => model.Contacto)
        </dd>

        <dt nowrap="">
            @Html.DisplayName("Email")
        </dt>

        <dd nowrap="">
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
</p>
