@model IEnumerable<Logistica.Models.Utilizadores>

@{
    ViewBag.Title = "Index";
}

	<h2>@Html.ActionLink("Transportadoras", "../Transportadoras/Index")  | @Html.DisplayName("Clientes")</h2>

<table class="table">
    <tr>
        <th nowrap ="">
            @Html.DisplayName("Nome")
        </th>
        <th nowrap ="">
            @Html.DisplayName("Apelido")
        </th>
        <th nowrap ="">
            @Html.DisplayName("Empresa")
        </th>
        <th nowrap ="">
            @Html.DisplayName("Pais")
        </th>
        <th nowrap ="">
            @Html.DisplayName("Cidade")
        </th>
        <th nowrap ="">
            @Html.DisplayName("Rua")
        </th>
        <th nowrap ="">
            @Html.DisplayName("CodigoPostal")
        </th>
        <th nowrap ="">
            @Html.DisplayName("Nº da Porta")
        </th>
        <th nowrap ="">
            @Html.DisplayName("NIF")
        </th>
        <th nowrap ="">
            @Html.DisplayName("Contacto")
        </th>
        <th nowrap ="">
            @Html.DisplayName("Email")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
	<td nowrap="">
		@Html.DisplayFor(modelItem => item.Nome)
	</td>
	<td nowrap="">
		@Html.DisplayFor(modelItem => item.Apelido)
	</td>
	<td nowrap="">
		@Html.DisplayFor(modelItem => item.NomeEmpresa)
	</td>
	<td nowrap="">
		@Html.DisplayFor(modelItem => item.Pais)
	</td>
	<td nowrap="">
		@Html.DisplayFor(modelItem => item.Cidade)
	</td>
	<td nowrap="">
		@Html.DisplayFor(modelItem => item.Rua)
	</td>
	<td nowrap="">
		@Html.DisplayFor(modelItem => item.CodigoPostal)
	</td>
	<td nowrap="">
		@Html.DisplayFor(modelItem => item.NumPorta)
	</td>
	<td nowrap="">
		@Html.DisplayFor(modelItem => item.NIF)
	</td>
	<td nowrap="">
		@Html.DisplayFor(modelItem => item.Contacto)
	</td>
	<td nowrap="">
		@Html.DisplayFor(modelItem => item.Email)
	</td>
	<td nowrap="">
		@Html.ActionLink("Editar", "Edit", new { id = item.ID })
	</td>
	<td nowrap="">
		@Html.ActionLink("Detalhes", "Details", new { id = item.ID })
	</td>
	<td nowrap="">
		@Html.ActionLink("Remover cliente", "Delete", new { id = item.ID })
	</td>
</tr>
}

</table>
